<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>ca.davidweb.slugify</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>5567ACA8-80EC-42B3-A363-4EB1491D2C6F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7369160C-0D9B-4654-9908-CB4354781505</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>8194D812-46CA-41E5-B6E8-8EEEBC8A374F</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Insert {query} in focused app</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B9E8376A-2B01-4AC1-A66D-574215E466FA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C4BC6828-E6D2-4247-89EB-9A430F77DA19</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C4BC6828-E6D2-4247-89EB-9A430F77DA19</key>
		<array/>
	</dict>
	<key>createdby</key>
	<string>David Lapointe Gilbert</string>
	<key>description</key>
	<string>Turn any text into a url compatible string of characters. Based on WordPress' function to create URL slugs.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Slugify</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>7369160C-0D9B-4654-9908-CB4354781505</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>slug</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>$php_location slugify.php "$@"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Slugify</string>
				<key>title</key>
				<string>Slugify that string!</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>5567ACA8-80EC-42B3-A363-4EB1491D2C6F</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>8194D812-46CA-41E5-B6E8-8EEEBC8A374F</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<true/>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>$php_location slugify.php --files "$@"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C4BC6828-E6D2-4247-89EB-9A430F77DA19</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<integer>1</integer>
				<key>filetypes</key>
				<array/>
				<key>name</key>
				<string>Slug that file</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>B9E8376A-2B01-4AC1-A66D-574215E466FA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>https://github.com/david-treblig/slugify-alfred-3</string>
	<key>uidata</key>
	<dict>
		<key>5567ACA8-80EC-42B3-A363-4EB1491D2C6F</key>
		<dict>
			<key>xpos</key>
			<real>230</real>
			<key>ypos</key>
			<real>90</real>
		</dict>
		<key>7369160C-0D9B-4654-9908-CB4354781505</key>
		<dict>
			<key>xpos</key>
			<real>540</real>
			<key>ypos</key>
			<real>30</real>
		</dict>
		<key>8194D812-46CA-41E5-B6E8-8EEEBC8A374F</key>
		<dict>
			<key>xpos</key>
			<real>540</real>
			<key>ypos</key>
			<real>170</real>
		</dict>
		<key>B9E8376A-2B01-4AC1-A66D-574215E466FA</key>
		<dict>
			<key>xpos</key>
			<real>70</real>
			<key>ypos</key>
			<real>400</real>
		</dict>
		<key>C4BC6828-E6D2-4247-89EB-9A430F77DA19</key>
		<dict>
			<key>xpos</key>
			<real>390</real>
			<key>ypos</key>
			<real>400</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>php</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Since Mac OS 12 Monterey, PHP is not included anymore. Point this setting to your PHP executable. If you already have MAMP or other tools installed, you can figure out this path by typing "which php" in your terminal. More details in the readme at https://github.com/davidwebca/slugify-alfred-3/tree/master</string>
			<key>label</key>
			<string>PHP location</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>php_location</string>
		</dict>
	</array>
	<key>version</key>
	<string>1.2.0</string>
	<key>webaddress</key>
	<string>https://github.com/david-treblig/slugify-alfred-3</string>
</dict>
</plist>
